{% load helpers %}
<style>
  .card {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .card li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .card li span.block {
    display: block;
    margin-left: 200px;
    margin-top: -20px;
  }
  .card img.img {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #333;
    margin-left: 50px;
  }
  .card strong {
    display: inline-block;
    width: 200px;
  }
  .current_folder {
    border: 1px solid #777;
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
  }
  .current_folder:hover {
    background: #444;
    color: #fff;
    border: 1px solid #333;
  }
  .folders {
    width: 200px;
    border: 1px solid #333;
    border-radius: 4px;
    position: absolute;
    background: #fff;
    margin: -24px 0 0 350px;
  }
  .folders ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .folders ul li {
    cursor: pointer;
    border-radius: 4px;
  }
  .folders ul li:hover {
    background: #ffffcc;
  }
  .folders ul li i {
    margin-right: 4px;
  }
  .current_folder {
  }
</style>

<ul class="card">

  <li>
    <strong>Situação</strong>
    <span>
      <span>
        {% if subscription.status == 0 %}
          <label class="label label-default">em análise</label>
        {% elif subscription.status == 1 %}
          <label class="label label-success">aprovada</label>
        {% elif subscription.status == 2 %}
          <label class="label label-danger">reprovada</label>
        {% endif %}
      </span>
      <select class="select_change_status" id="subscription_{{ subscription.id }}"
          style="margin-left:20px">
        <option value="0" {% if subscription.status == 0 %}selected{% endif %}>em análise</option>
        <option value="1" {% if subscription.status == 1 %}selected{% endif %}>aprovada</option>
        <option value="2" {% if subscription.status == 2 %}selected{% endif %}>reprovada</option>
      </select>
    </span>
  </li>

  <li>
    <strong>Pasta</strong>
    <span class="current_folder" title="Alterar pasta" id="subscription-{{ subscription.id }}">
      <i class="fa fa-folder"></i>
      <span>{{ subscription.folder.name|default:'<em>Selecione a pasta</em>' }}</span>
    </span>
  </li>

  {% if subscription.user_data.pfpj == 'pf' %}
    <li><strong>RG</strong>
      {{ subscription.user_data.rg }}
    </li>
  {% else %}
    <li><strong>CNPJ</strong>
      {{ subscription.user_data.cnpj }}
    </li>
    <li><strong>Razão social</strong>
      {{ subscription.user_data.razao_social }}
    </li>
    <li><strong>Nome fantasia</strong>
      {{ subscription.user_data.nome_fantasia }}
    </li>
  {% endif %}

  <li><strong>Telefone residencial</strong>
    {% if subscription.user_data.phone_home_ddd and subscription.user_data.phone_home %}
      ({{ subscription.user_data.phone_home_ddd }})
      {{ subscription.user_data.phone_home }}
    {% else %}
      <em>não informado</em>
    {% endif %}
  </li>

  <li><strong>CEP</strong> {{ subscription.user_data.cep }}</li>

  <li><strong>Endereço</strong> {{ subscription.user_data.address }}</li>

  <li><strong>Número</strong> {{ subscription.user_data.address_number }}</li>

  <li><strong>Complemento</strong> {{ subscription.user_data.address_complement }}</li>

  <li><strong>Bairro</strong> {{ subscription.user_data.address_neighborhood }}</li>

  <li><strong>Cidade</strong> {{ subscription.user_data.address_city }}</li>

  <li><strong>Estado</strong> {{ subscription.user_data.address_state }}</li>

  <li><strong>Título</strong> {{ subscription.user_data.titulo }}</li>

  <li>
    <strong>Número ou protocolo de registro da obra na Biblioteca Nacional</strong>
    <a href="/static/uploads/{{ subscription.user_data.registro_biblioteca }}" target="_blank">
      Download
    </a>
    {% if subscription.user_data.registro_biblioteca|is_image %}
      <a href="/static/uploads/{{ subscription.user_data.registro_biblioteca }}" target="_blank">
        <img class="img" src="/static/uploads/{{ subscription.user_data.registro_biblioteca }}">
      </a>
    {% endif %}
  </li>

  <li><strong>Características</strong> {{ subscription.user_data.caracteristicas_1 }}</li>

  <li><strong>Obra seriada?</strong> {{ subscription.user_data.caracteristicas_2 }}</li>

  <li><strong>Duração</strong> {{ subscription.user_data.caracteristicas_3 }}</li>

  <li><strong>Veículo</strong> {{ subscription.user_data.veiculo | list }}</li>

  <li><strong>Gênero</strong> {{ subscription.user_data.genero | list }}</li>

  <li><strong>Logline</strong> {{ subscription.user_data.logline }}</li>

  <li>
    <strong>Sinopse</strong>
    <a href="/static/uploads/{{ subscription.user_data.sinopse }}" target="_blank">
      Download
    </a>
    {% if subscription.user_data.sinopse|is_image %}
      <a href="/static/uploads/{{ subscription.user_data.sinopse }}" target="_blank">
        <img class="img" src="/static/uploads/{{ subscription.user_data.sinopse }}">
      </a>
    {% endif %}
  </li>

  <li>
    <strong>Argumento</strong>
    <a href="/static/uploads/{{ subscription.user_data.argumento }}" target="_blank">
      Download
    </a>
    {% if subscription.user_data.argumento|is_image %}
      <a href="/static/uploads/{{ subscription.user_data.argumento }}" target="_blank">
        <img class="img" src="/static/uploads/{{ subscription.user_data.argumento }}">
      </a>
    {% endif %}
  </li>

  <li><strong>Público alvo</strong><span class="block">{{ subscription.user_data.publico_alvo }}</span></li>
  
  <li><strong>Biografia do criador</strong><span class="block">{{ subscription.user_data.biografia }}</span></li>
  
  <li><strong>Informações adicionais</strong><span class="block">{{ subscription.user_data.info_adicional }}</span></li>
</ul>

