{% extends 'panel/index.html' %}

{% block js %}
<script src="/static/panel/tinymce/tinymce.min.js"></script>
<script>
  /*
  tinymce.init({
    selector: '#page_content',
    plugins: ['code', 'image', 'link', 'table'],
    toolbar: 'undo redo | styleselect fontsizeselect | bold italic | align | forecolor backcolor | link image'
  });
  $(document).ready(function(){
      $('#input_title')[0].focus();
  });
*/
</script>
{% endblock %}

{% block title %}<i class="fa fa-copy"></i>&nbsp; Editar convidado{% endblock %}

{% block breadcrumb %}
  <li><a href="/painel/convidados">Curadores</a></li>
{% endblock %}

{% block content %}
  <style>
    input[name=file_picture]{
      border: none;
      padding: 0;
      margin: 20px;
    }
  </style>

  <div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{field.name}} : {{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
          <form role="form" method="POST" enctype="multipart/form-data">
              {% csrf_token %}              
              <div class="box-body">
                <div class="row">
                  <div class="col-md-12">

                    <div class="form-group">
                      <label for="">Nome</label>
                      <input class="form-control" name="name"
                        value="{% if form.name.value %}{{ form.name.value }}{% endif %}" required>
                    </div>

                    <div class="form-group">
                      <label for="">Foto</label>
                      {% if convidado.picture %}
                        <img src="/static/convidados/{{ convidado.picture }}" width="250">
                      {% endif %}
                      <input type="file" class="form-control" name="file_picture" value="{{ convidado.picture }}">
                      <input type="text" class="form-control" name="picture" value="{{ convidado.picture|default_if_none:'' }}" style="display: none;">
                    </div>

                    <div class="form-group">
                      <label for="">Linha de ação</label>
                        {{ form.contest }}
                    </div>

                    <div class="form-group">
                      <label for="">Categoria</label>
                        {{ form.category }}
                    </div>

                    <div class="form-group">
                      <label for="">Mini bio</label>
                      <textarea class="form-control" id="page_content" style="height:200px" name="bio">{{ form.bio.value|default:'' }}</textarea>
                    </div>

                  </div>
                </div>
              </div>              
              <!--{{ form.as_p }}-->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
                {%  if id %}
                    <a href="/painel/conteudo/del/{{ id }}" class="btn btn-xs btn-danger pull-right"
                        onclick="return confirm('Tem certeza que deseja excluir essa página?')">
                      Excluir página</a>
                {% endif %}
              </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}

