
.btn_arquivo{
    float:right;    
    background:#fac20b;
    color:#000;
    border:none;
    padding:33px 20px;
    text-decoration:none;
    cursor:pointer;
    box-sizing:border-box;
    font-size:14px;
    font-family:"Open Sans";
    line-height:100%;
    height: 85px;        
}
