
  <div class="modal fade" id="avaliacao_{{sub.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 800px;">
      <div class="modal-content">
        <form method="post" id="avaliacao_form_{{sub.id}}">
        {% csrf_token %}
            <input type="hidden" name="sub_id" value="{{sub.id}}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">
                    QUESTIONÁRIO DE AVALIAÇÃO DE ROTEIROS<br>
                    MOSTRA COMPETITIVA DE CURTAS-METRAGENS DO ROTA 2020                                
                </h5>
            </div>
            <div class="modal-body">
                <strong>NOME DO {{request.session.painel.role.1|upper}}:</strong> {{request.session.painel.name}} 
                <!--<strong>GRUPO:</strong> {{sub.group.name}}-->
                <br><br>
                <table class="ficha_avaliacao">
                    <tr>
                        <td rowspan="2">{{step}}º LOTE</td>
                        <td colspan="5" style="text-align:left">Título: <strong>{{sub.data.titulo}}</strong></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left">
                            {{form.indica_ficcao.label}}**&nbsp;&nbsp;&nbsp;                            
                            <input type="radio" name="indica_ficcao" value="sim" {% if form.indica_ficcao.value == 'sim' %} checked {% endif %}>Sim&nbsp;
                            <input type="radio" name="indica_ficcao" value="nao" {% if form.indica_ficcao.value == 'nao' %} checked {% endif %}>Não                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left">
                            {{form.indica_doc.label}}**&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="indica_doc" value="sim" {% if form.indica_doc.value == 'sim' %} checked {% endif %}>Sim&nbsp;
                            <input type="radio" name="indica_doc" value="nao" {% if form.indica_doc.value == 'nao' %} checked {% endif %}>Não
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left">
                            {{form.pesquisa.label}}&nbsp;&nbsp;&nbsp;{{form.pesquisa}}
                        </td>
                    </tr>
                </table>                   
                <br><br>
                <span style="font-size: 12px;">** Indicação: Você só pode indicar um roteiro para cada categoria.</span>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" onclick="submete_avaliacao({{sub.id}}, '{{sub.msg_indicados}}');" class="btn btn-primary">Salvar</button>
            </div>
        </form>
      </div>
    </div>
  </div>