
  <div class="{% if not read_only %}modal fade{% endif %}" id="avaliacao_{{loop_index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 800px;">
      <div class="modal-content">
        <form method="post" id="avaliacao_form_{{loop_index}}">
        {% csrf_token %}
            <input type="hidden" name="sub_id" value="{{sub.id}}">
            <div class="modal-header">
                {% if not read_only %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
                <h5 class="modal-title" id="exampleModalLabel">
                    QUESTIONÁRIO DE AVALIAÇÃO DE ROTEIROS<br>
                    MOSTRA COMPETITIVA DE CURTAS-METRAGENS DO ROTA 2020
                </h5>
            </div>
            <div class="modal-body">
                <strong>NOME DO {{role_name|upper}}:</strong> {{avaliador}} 
                <!--<strong>GRUPO:</strong> {{sub.group.name}}-->
                <br><br>
                <table class="ficha_avaliacao">
                    <tr>
                        <td rowspan="2">{{step}}º LOTE</td>
                        <td colspan="5" style="text-align:left">Título: <strong>{{sub.data.titulo}}</strong></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left">
                            {{form.indica_curta.label}} *&nbsp;&nbsp;&nbsp;                            
                            <input type="radio" name="indica_curta" value="sim" {% if form.indica_curta.value == 'sim' %} checked {% endif %}>Sim&nbsp;
                            <input type="radio" name="indica_curta" value="nao" {% if form.indica_curta.value == 'nao' %} checked {% endif %}>Não                            
                        </td>
                    </tr>
                </table>
                <br><br>
                <span style="font-size: 12px;">* Indicação: Você só pode indicar um filme para esta categoria.</span>
            </div>
            <div class="modal-footer">
                {% if not read_only %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="submete_avaliacao({{loop_index}}, '{{sub.msg_indicados}}');" class="btn btn-primary">Salvar</button>
                {% endif %}
            </div>
        </form>
      </div>
    </div>
  </div>