
  <div class="{% if not read_only %}modal fade{% endif %}" id="avaliacao_{{loop_index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 800px;">
      <div class="modal-content">
        <form method="post" id="avaliacao_form_{{loop_index}}">
        {% csrf_token %}
            <input type="hidden" name="sub_id" value="{{sub.id}}">
            <div class="modal-header">
                {% if not read_only %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
                <h5 class="modal-title" id="exampleModalLabel">
                    QUESTIONÁRIO DE AVALIAÇÃO DE ROTEIROS<br>
                    MOSTRA COMPETITIVA DE CURTAS-METRAGENS DO ROTA 2021                                
                </h5>
            </div>
            <div class="modal-body">
                <strong>NOME DO {{role_name|upper}}:</strong> {{avaliador}} 
                <!--<strong>GRUPO:</strong> {{sub.group.name}}-->
                <br><br>
                <table class="ficha_avaliacao">
                    <tr>
                        <td rowspan="2">{{step}}º LOTE</td>
                        <td colspan="5" style="text-align:left">Título: <strong>{{sub.data.titulo}}</strong></td>
                    </tr>
                    <tr>
                        <td>Excelente (2,5)</td>
                        <td>Boa (2,0)</td>
                        <td>Média (1,5)</td>
                        <td>Insatisfatório (0)</td>
                        <td>Nota (total)</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">{{form.estrutura_narrativa.label}}</td>
                        <td><input type="radio" name="estrutura_narrativa" value="2.5" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.estrutura_narrativa.value == 2.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="estrutura_narrativa" value="2.0" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.estrutura_narrativa.value == 2.0 %} checked {% endif %}></td>
                        <td><input type="radio" name="estrutura_narrativa" value="1.5" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.estrutura_narrativa.value == 1.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="estrutura_narrativa" value="0" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.estrutura_narrativa.value == 0 %} checked {% endif %}></td>
                        <td id="nota_estrutura_narrativa_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">{{form.trama.label}}</td>
                        <td><input type="radio" name="trama" value="2.5" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.trama.value == 2.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="trama" value="2.0" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.trama.value == 2.0 %} checked {% endif %}></td>
                        <td><input type="radio" name="trama" value="1.5" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.trama.value == 1.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="trama" value="0" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.trama.value == 0 %} checked {% endif %}></td>
                        <td id="nota_trama_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">{{form.personagens.label}}</td>
                        <td><input type="radio" name="personagens" value="2.5" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.personagens.value == 2.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="personagens" value="2.0" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.personagens.value == 2.0 %} checked {% endif %}></td>
                        <td><input type="radio" name="personagens" value="1.5" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.personagens.value == 1.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="personagens" value="0" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.personagens.value == 0 %} checked {% endif %}></td>
                        <td id="nota_personagens_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">{{form.dialogos.label}}</td>
                        <td><input type="radio" name="dialogos" value="2.5" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.dialogos.value == 2.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="dialogos" value="2.0" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.dialogos.value == 2.0 %} checked {% endif %}></td>
                        <td><input type="radio" name="dialogos" value="1.5" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.dialogos.value == 1.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="dialogos" value="0" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.dialogos.value == 0 %} checked {% endif %}></td>
                        <td id="nota_dialogos_{{loop_index}}"></td>
                    </tr>    
                    <tr>
                        <td style="text-align:left">{{form.originalidade.label}} *</td>
                        <td colspan="2"><input type="radio" name="originalidade" value="2" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.originalidade.value == 2 %} checked {% endif %}>Sim</td>
                        <td colspan="2"><input type="radio" name="originalidade" value="0" onclick="atualiza_notas_mostra({{loop_index}});" {% if form.originalidade.value == 0 %} checked {% endif %}>Não</td>
                        <td id="nota_originalidade_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="background-color: darkgray; font-weight: bold;">PONTUAÇÃO GERAL</td>
                        <td id="nota_total_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left">
                            {{form.indica_ficcao.label}}**&nbsp;&nbsp;&nbsp;                            
                            <input type="radio" name="indica_ficcao" value="sim" {% if form.indica_ficcao.value == 'sim' %} checked {% endif %}>Sim&nbsp;
                            <input type="radio" name="indica_ficcao" value="nao" {% if form.indica_ficcao.value == 'nao' %} checked {% endif %}>Não                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left">
                            {{form.indica_doc.label}}**&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="indica_doc" value="sim" {% if form.indica_doc.value == 'sim' %} checked {% endif %}>Sim&nbsp;
                            <input type="radio" name="indica_doc" value="nao" {% if form.indica_doc.value == 'nao' %} checked {% endif %}>Não
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left">
                            {{form.pesquisa.label}}&nbsp;&nbsp;&nbsp;{{form.pesquisa}}
                        </td>
                    </tr>
                </table>                   
                <br><br>
                <span style="font-size: 12px;">** Indicação: Você só pode indicar um filme para cada categoria.</span>
            </div>
            <div class="modal-footer">
                {% if not read_only %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="submete_avaliacao({{loop_index}}, '{{sub.msg_indicados}}');" class="btn btn-primary">Salvar</button>
                {% endif %}
            </div>
        </form>
      </div>
    </div>
  </div>