
  <div class="{% if not read_only %}modal fade{% endif %}" id="avaliacao_{{loop_index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 800px;">
      <div class="modal-content">
        <form method="post" id="avaliacao_form_{{loop_index}}">
        {% csrf_token %}
            <input type="hidden" name="sub_id" value="{{sub.id}}">
            <div class="modal-header">
                {% if not read_only %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% endif %}
                <h5 class="modal-title" id="exampleModalLabel">
                    QUESTIONÁRIO DE AVALIAÇÃO DE PROJETOS<br>
                    LABORATÓRIO DE PROJETOS DE SÉRIE DO V ROTA FESTIVAL                                
                </h5>
            </div>
            <div class="modal-body">
                <strong>NOME DO {{role_name|upper}}:</strong> {{avaliador}}  
                <!--<strong>GRUPO:</strong> {{sub.group.name}}-->
                <br><br>
                <table class="ficha_avaliacao">
                    <tr>
                        <td rowspan="2">{{step}}º LOTE</td>
                        <td colspan="5" style="text-align:left">Título: <strong>{{sub.data.titulo}}</strong></td>
                    </tr>
                    <tr>
                        <td>Excelente (2,5)</td>
                        <td>Boa (2,0)</td>
                        <td>Média (1,5)</td>
                        <td>Insatisfatório (0)</td>
                        <td>Nota (total)</td>
                    </tr>    
                    <tr>
                        <td style="text-align:left">{{form.clareza.label}}</td>
                        <td><input type="radio" name="clareza" value="2.5" onclick="atualiza_notas_lab({{loop_index}});" {% if form.clareza.value == 2.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="clareza" value="2.0" onclick="atualiza_notas_lab({{loop_index}});" {% if form.clareza.value == 2.0 %} checked {% endif %}></td>
                        <td><input type="radio" name="clareza" value="1.5" onclick="atualiza_notas_lab({{loop_index}});" {% if form.clareza.value == 1.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="clareza" value="0" onclick="atualiza_notas_lab({{loop_index}});" {% if form.clareza.value == 0 %} checked {% endif %}></td>
                        <td id="nota_clareza_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">{{form.originalidade.label}}</td>
                        <td><input type="radio" name="originalidade" value="2.5" onclick="atualiza_notas_lab({{loop_index}});" {% if form.originalidade.value == 2.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="originalidade" value="2.0" onclick="atualiza_notas_lab({{loop_index}});" {% if form.originalidade.value == 2.0 %} checked {% endif %}></td>
                        <td><input type="radio" name="originalidade" value="1.5" onclick="atualiza_notas_lab({{loop_index}});" {% if form.originalidade.value == 1.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="originalidade" value="0" onclick="atualiza_notas_lab({{loop_index}});" {% if form.originalidade.value == 0 %} checked {% endif %}></td>
                        <td id="nota_originalidade_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">{{form.universo.label}}</td>
                        <td><input type="radio" name="universo" value="2.5" onclick="atualiza_notas_lab({{loop_index}});" {% if form.universo.value == 2.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="universo" value="2.0" onclick="atualiza_notas_lab({{loop_index}});" {% if form.universo.value == 2.0 %} checked {% endif %}></td>
                        <td><input type="radio" name="universo" value="1.5" onclick="atualiza_notas_lab({{loop_index}});" {% if form.universo.value == 1.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="universo" value="0" onclick="atualiza_notas_lab({{loop_index}});" {% if form.universo.value == 0 %} checked {% endif %}></td>
                        <td id="nota_universo_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">{{form.personagens.label}}</td>
                        <td><input type="radio" name="personagens" value="2.5" onclick="atualiza_notas_lab({{loop_index}});" {% if form.personagens.value == 2.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="personagens" value="2.0" onclick="atualiza_notas_lab({{loop_index}});" {% if form.personagens.value == 2.0 %} checked {% endif %}></td>
                        <td><input type="radio" name="personagens" value="1.5" onclick="atualiza_notas_lab({{loop_index}});" {% if form.personagens.value == 1.5 %} checked {% endif %}></td>
                        <td><input type="radio" name="personagens" value="0" onclick="atualiza_notas_lab({{loop_index}});" {% if form.personagens.value == 0 %} checked {% endif %}></td>
                        <td id="nota_personagens_{{loop_index}}"></td>
                    </tr>    
                    <tr>
                        <td style="text-align:left">{{form.atualidade.label}} *</td>
                        <td colspan="2"><input type="radio" name="atualidade" value="2" onclick="atualiza_notas_lab({{loop_index}});" {% if form.atualidade.value == 2 %} checked {% endif %}>Sim</td>
                        <td colspan="2"><input type="radio" name="atualidade" value="0" onclick="atualiza_notas_lab({{loop_index}});" {% if form.atualidade.value == 0 %} checked {% endif %}>Não</td>
                        <td id="nota_atualidade_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="background-color: darkgray; font-weight: bold;">PONTUAÇÃO GERAL</td>
                        <td id="nota_total_{{loop_index}}"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left">
                            {{form.indica_projeto.label}} **&nbsp;&nbsp;&nbsp;                            
                            <input type="radio" name="indica_projeto" value="sim" {% if form.indica_projeto.value == 'sim' %} checked {% endif %}>Sim&nbsp;
                            <input type="radio" name="indica_projeto" value="nao" {% if form.indica_projeto.value == 'nao' %} checked {% endif %}>Não                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:left">
                            {{form.indica_suplente.label}} ***&nbsp;&nbsp;&nbsp;                            
                            <input type="radio" name="indica_suplente" value="sim" {% if form.indica_suplente.value == 'sim' %} checked {% endif %}>Sim&nbsp;
                            <input type="radio" name="indica_suplente" value="nao" {% if form.indica_suplente.value == 'nao' %} checked {% endif %}>Não                            
                        </td>
                    </tr>
                </table>
                <span style="font-size: 12px;">* ATUALIDADE: Consideramos a relevância/atualidade como um critério de avaliação extra. Deste modo, se um projeto pontuar os 4 primeiros itens com nota máxima (2,5), por exemplo, já terá nota 10. Caso ele pontue também por atualidade, ganhará os dois pontos por esta distinção, totalizando 12 pontos.</span>
                <br><br>
                <span style="font-size: 12px;">** Indicação: Você só pode indicar dois projetos por dupla. Ou seja, se você está em duas duplas, pode indicar no máximo quatro projetos.</span>
                <br><br>
                <span style="font-size: 12px;">*** Suplente: Você só pode indicar um suplente por dupla. Ou seja, se você está em duas duplas, pode escolher no máximo dois suplentes.</span>
            </div>
            <div class="modal-footer">
                {% if not read_only %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="submete_avaliacao({{loop_index}}, '{{sub.msg_indicados}}');" class="btn btn-primary">Salvar</button>
                {% endif %}
            </div>
        </form>
      </div>
    </div>
  </div>