{% extends 'panel/index.html' %}
{% load helpers %}

{% block title %}<i class="fa fa-cubes"></i>&nbsp; Ranking{% endblock %}
{% block content %}
<div class="box">      
    <div class="box-body">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1" data-toggle="tab">Concurso de Roteiros de Curtas</a></li>          
          <li><a href="#tab_3" data-toggle="tab">Laboratório de Projetos de Série</a></li>
          <li><a href="#tab_4" data-toggle="tab">Mostra de Curtas</a></li>
        </ul>
        <div class="tab-content">  
          {% for contest_id, step_dict in res.items %}
            <div class="tab-pane {%if contest_id == 1 %}active{% endif %}" id="tab_{{contest_id}}">
              <div style="margin-bottom:10px;text-align:right;">
                 <!-- data-target="#promover" -->
                <a class="btn btn-primary" href="#!" data-toggle="modal" disabled="true">
                  <i class="fa fa-rocket"></i>&nbsp;&nbsp; Promover selecionados
                </a>
              </div>

              <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs">
                    {% for step, _ in step_dict.items %}
                      <li class="{%if step == 1 %}active{% endif %}"><a href="#tab_{{contest_id}}_{{step}}" data-toggle="tab">Etapa {{step}}</a></li>
                    {% endfor %}
                  </ul>
                  <div class="tab-content">  
                    {% for step, categorias in step_dict.items %}                      
                      <div class="tab-pane {%if step == 1 %}active{% endif %}" id="tab_{{contest_id}}_{{step}}"> 
                        {% for cat in categorias %}
                            <h4>{{cat.categoria.2}}</h4>
                            <table class="table tabela_ranking">
                                <thead><tr>
                                    <th></th>
                                    <th></th>
                                    <th>Inscrição</th>
                                    <th style="width: 50%;">Título</th>                                    
                                    <th>Indicações</th>
                                    <th>Avaliações</th>
                                    <th>Média</th>                      
                                    <th>Fichas de avaliação</th>
                                </tr></thead>
                                <tbody id="tbl_content">
                                    {% for proj in cat.projetos %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td><input type="checkbox" name="projetos" value="{{proj.id}}" /></td>
                                            <td><a href="/painel/cadastro/{{proj.cadastro}}#inscricao_{{proj.id}}">{{proj.id}}</a></td>
                                            <td style="text-align: left;"><a href="/painel/cadastro/{{proj.cadastro}}#inscricao_{{proj.id}}">{{proj.data.title}}</a></td>                                            
                                            <td>{{proj.indicadores|length}}&nbsp;&nbsp;&nbsp;<i class="fa fa-user" title="{{proj.indicadores|join:", "}}"></i></td>
                                            <td>{{proj.avaliadores|length}}&nbsp;&nbsp;&nbsp;<i class="fa fa-user" title="{{proj.avaliadores|join:", "}}"</td>
                                            <td>{{proj.media}}</td>
                                            <td>
                                              <a href="ficha/{{proj.id}}"><i class="fa fa-address-card"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}  

                          {% for c_id, s_dict in outros.items %}
                            {% for s, projs in s_dict.items %}
                              {% if c_id == contest_id and s == step and projs|length > 0 %}
                                <h4>Demais projetos</h4>
                                <table class="table tabela_ranking" >
                                    <thead><tr>
                                        <th></th>
                                        <th></th>
                                        <th>Inscrição</th>
                                        <th style="width: 50%;">Título</th>                                        
                                        <th>Avaliações</th>
                                        <th>Média</th>                      
                                        <th>Fichas de avaliação</th>
                                    </tr></thead>
                                    <tbody id="tbl_content">
                                        {% for proj in projs %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>                                        
                                                <td><input type="checkbox" name="projetos" value="{{proj.id}}" /></td>
                                                <td><a href="/painel/cadastro/{{proj.cadastro}}#inscricao_{{proj.id}}">{{proj.id}}</a></td>
                                                <td style="text-align: left;"><a href="/painel/cadastro/{{proj.cadastro}}#inscricao_{{proj.id}}">{{proj.data.title}}</a></td>                                                
                                                <td>{{proj.avaliadores|length}}&nbsp;&nbsp;&nbsp;<i class="fa fa-user" title="{{proj.avaliadores|join:", "}}"</td>
                                                <td>{{proj.media}}</td>
                                                <td>
                                                  <a href="ficha/{{proj.id}}"><i class="fa fa-address-card"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        
                      </div>                          
                    {% endfor %}
                  </div>
              </div>

            </div>
          {% endfor %}
        </div>
    </div>
    </div>
</div>

{% include 'panel/avaliacoes/form_promover.html'  %}

{% endblock %}