
table.ficha_avaliacao  {
    width: 100%;
    border: 1px solid black;
}

table.ficha_avaliacao td {
    border: 1px solid black;
    padding: 4px;
}

.avaliacao_texto {
    width: 40%;
    display: inline;
}

table.tabela_ranking {
    margin-bottom: 100px;
    border: 1px solid rgb(172, 172, 172);
}

table.tabela_ranking td {
    text-align: center;
}

table.tabela_ranking th {
    text-align: center;
}