{% extends 'panel/index.html' %}
{% load helpers %}

{% block title %}<i class="fa fa-file-pdf"></i>&nbsp; Roteiros{% endblock %}

{% block content %}
  {% if msg %}
     <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4 style="margin:0"><i class="icon fa fa-check"></i> {{ msg }}</h4>
    </div>
  {% endif %}
  {% if error %}
     <div class="alert alert-danger alert-dismissible">
      <i class="icon fa fa-exclamation-triangle"></i> Sua avaliação não foi salva pois contém os seguintes erros:
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ error }}
    </div>
  {% endif %}

  <h4>Listando {{ items | length }} roteiros</h4>

  <div class="row" style="display:flex;flex-wrap:wrap">
    {% for item in items %}
      <div class="col-md-2">
        <div class="box">          
          <div class="box-body no-padding" style="text-align:center">
            {% if item.ja_avaliou %}
              <i style="float: right; color:gold" class="fa fa-star" title="Roteiro já avaliado"></i>
            {% endif %}
            <a href="/static/uploads/{{ item.data.script }}" target="_blank">
                
              <i style="display:block;font-size:50px;margin:10px" class="fa
                {% if item.data.script|is_image %}fa-file-image
                {% else %}fa-file-pdf
              {% endif %}"></i>

              {{ item.data.title }}
              <br>
              {{ item.data.nickname }}
              <br>&nbsp;
             </a>
             {% if request.session.painel.is_curador %}
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#avaliacao_{{item.id}}">
                {% if item.ja_avaliou %} Alterar avaliação {% else %} Avaliar {% endif %}
              </button>
             {% endif %}
             {% include 'panel/avaliacoes/ficha_concurso.html' with sub=item form=item.form  %}
             <script>
               atualiza_notas_roteiro({{item.id}});
             </script>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

