{% extends 'panel/index.html' %}
{% load helpers %}

{% block title %}<i class="fa fa-file-video"></i>&nbsp; Projetos de série{% endblock %}

{% block content %}

  {% if msg %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4 style="margin:0"><i class="icon fa fa-check"></i> {{ msg }}</h4>
    </div>
  {% endif %}
  {% if error %}
    <div class="alert alert-danger alert-dismissible">
      <i class="icon fa fa-exclamation-triangle"></i> Sua avaliação não foi salva pois contém os seguintes erros:
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ error }}
    </div>
  {% endif %}

  <h4>Listando {{ items | length }} projetos</h4>
  {% if indicados %}
    <h4>Indicados por você:</h4>
    {% for lst_msg in indicados.values %}
      {% for msg in lst_msg %}
        <i class="icon fa fa-check"></i>&nbsp;&nbsp;{{msg}}<br>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <div class="row" style="display:flex;flex-wrap:wrap">
    {% for item in items %}
    <div style="width:33.333%">
      <div class="" style="margin:5px">
        <div class="box">
          <div class="box-body" style="text-align:center">
            {% if item.ja_avaliou %}
              <i style="float: right; color:gold" class="fa fa-star" title="Projeto já avaliado"></i>
            {% endif %}
            <a href="/painel/projetos/ver/{{ item.id }}">
                
              <i style="display:block;font-size:50px;margin:10px" class="fa
                {% if item.data.script|is_image %}fa-file-image
                {% else %}fa-file-pdf
              {% endif %}"></i>

              {{ item.data.titulo }}
              <br>&nbsp;
             </a>
             {% if request.session.painel.is_avaliador %}
                <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 5px; margin-top: 5px;" data-toggle="modal" data-target="#avaliacao_{{item.id}}">
                  <i class="fa fa-star"></i>&nbsp;{% if item.ja_avaliou %} Alterar avaliação {% else %} Avaliar {% endif %}
                </button>
                {% include 'panel/avaliacoes/'|add:item.form.get_template with sub=item form=item.form step=step loop_index=item.id role_name=request.session.painel.role.1 avaliador=request.session.painel.name %}
                <script>
                  atualiza_notas_lab({{item.id}});
                </script>
             {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

