{% extends 'panel/index.html' %}
{% load helpers %}

{% block title %}<i class="fa fa-comments"></i>&nbsp; Seminário{% endblock %}

{% block content %}

{% for p in palestras %}
    <strong>{{p.evento.name}}</strong> - {{p.evento.date}} - {{p.evento.description}}<br>
    Quantidade de inscritos: {{p.qtd}}<br>
    Inscritos:<br>
    <ul>
    {% for i in p.pessoas %}
        <li>
            <table >
                <tr>
                    <td style="padding: 3px;">
                        {{i.0}}
                    </td>
                    <td style="padding: 3px;">
                        <a href="cadastro/{{i.1.id}}">{{i.1.first_name}}</a>
                    </td>
                    <td style="padding: 3px;">
                        {{i.1.email}}
                    </td>
                </tr>             
            </table>
        </li>
    {% endfor %}
    </ul>
    <br><br><br>
{% endfor %}

{% endblock %}

