<style>
@media (max-width: 1024px) {
  #products.internal {
    width: 50%;
    margin: auto;
  }
  #products.internal .product {
    width: 100%!important;
  }
}
</style>



<!--
<div id="products" class="internal">

  <div class="product">
    <strong>Pacote completo</strong>
    <em>SEGUNDO LOTE</em>
    <div class="price">R$ 320,00</div>
    <a href="/planos-e-precos?id=4" class="btn action">comprar</a>
    <ul><li>1 inscrição no Laboratório de Projetos de Série</li><li>2 inscrições no Encontro de Negócios</li><li>3 diárias no Seminário</li></ul>
    <em class="sec">SEGUNDO LOTE</em>
    <div class="price sec">R$ 320,00</div>
    <div class="date sec">a partir de 05 de agosto</div>


    <br>

    <a href="/concursos" class="link">mais informações</a>

  </div>

  <div class="product">
    <strong>Seminário (diária)</strong>

    <em>SEGUNDO LOTE</em>
    <div class="price">R$ 140,00</div>
    <a href="/planos-e-precos?id=3" class="btn action">comprar</a>
    <ul><li>1 diária no Seminário</li></ul>
    <em class="sec">SEGUNDO LOTE</em>
    <div class="price sec">R$ 140,00</div>
    <div class="date sec">a partir de 05 de agosto</div>

    <br>
    <a href="/concurso/seminario" class="link">mais informações</a>

  </div>

</div>
-->