<form method="post" enctype="multipart/form-data" id="subscription_form">
  {% csrf_token %}

  <h5>Eventos</h5>
  Marque os eventos que deseja participar:<br><br>
  <div class="error">
    {{ form.events.errors }}
  </div>
  <div class="contentForm">
    {{ form.events }}
    <table style="width: 100%; padding: 10px;">
      {% for dia, dados in seminarios.items %}
        <tr>
          <td colspan="2" style="text-align: center; padding: 10px;">
            <strong>{{dia}}</strong>
          </td>
        </tr>
        {% for d in dados %}
          <tr>
            <td style="width: 50px; padding: 10px; text-align: center;">
              <input type="checkbox" {% if d.esgotado %} disabled {% endif %} value="{{d.id}}">
            </td>
            <td style="padding: 10px;">
              {% if d.esgotado %}
                <strong style="color: red;">ESGOTADO</strong> - 
              {% endif %}
              <strong>{{d.time}} h -  {{d.name}}</strong><br>
              <spam class="small">{{d.description}}</spam>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>    
    <input type="submit" class="btn action" style="margin: 10px;" value="Enviar inscrição">
  </div>
</form>

<script>
  
  $(document).ready(function () {
    $( "#subscription_form" ).submit(function( event ) {
      var val = [];
      $(':checkbox:checked').each(function(i){
        val[i] = $(this).val();
      });

      $( "input[name='events']" ).val(val);
      //alert( $( "input[name='events']" ).val() );
      //event.preventDefault();
    });
  });
</script>
