argh==0.26.2
certifi==2019.3.9
chardet==3.0.4
Django==2.2
django-extensions==3.0.3
essential-generators==0.9.2
filetype==1.0.5
gunicorn==19.9.0
idna==2.8
mysqlclient==1.4.2.post1
pathtools==0.1.2
python-http-client==3.2.7
pytz==2019.1
PyYAML==5.1
requests==2.22.0
sendgrid==6.4.3
six==1.15.0
sqlparse==0.3.0
starkbank-ecdsa==1.0.0
Unidecode==1.0.23
urllib3==1.25.3
watchdog==0.9.0
yml==0.0.1
