{% extends 'core/index.html' %}

{% block content %}

<div class="c">
  {% if success %}
      <p>{{ success }}</p>

      <a href="/entrar" class="btn">voltar</a>

  {% else %}
      <div class="col-duo">
          <div>

            <p>Digite o seu email no campo abaixo. Enviaremos instruções para
                efetuar a redefinição de senha.</p>

              <form method="post" class="form">
                  {% csrf_token %}

                  {% if token %}
                      <p>
                          <label>Nova senha</label>
                          <input type="password" name="pass1" placeholder="Nova senha">
                      </p>

                      <p>
                          <label>Nova senha</label>
                          <input type="password" name="pass2" placeholder="Repita a nova senha">
                      </p>

                      {% if error %}
                      <p>
                        <ul class="errorlist">
                          <li class="big">{{ error }}</li>
                        </ul>
                      </p>
                      {% endif %}

                      <p>
                          <button type="submit" class="btn">Redefinir senha</button>
                      </p>

                  {% else %}
                      <strong>Email</strong>
                      <input type="email" name="email">

                      {% if error %}
                      <p>
                        <ul class="errorlist">
                          <li class="big">{{ error }}</li>
                        </ul>
                      </p>
                      {% endif %}


                      <p>
                          <button type="submit" class="btn action">Enviar</button>
                      </p>
                  {% endif %}
              </form>
          </div>
      </div>
  {% endif %}
</div>

{% endblock %}
