{% extends 'panel/index.html' %}
{% load helpers %}

{% block title %}<i class="fa fa-video"></i>&nbsp; Curtas{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% if msg %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4 style="margin:0"><i class="icon fa fa-check"></i> {{ msg }}</h4>
        </div>
      {% endif %}
      {% if error %}
        <div class="alert alert-danger alert-dismissible">
          <i class="icon fa fa-exclamation-triangle"></i> Sua avaliação não foi salva pois contém os seguintes erros:
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ error }}
        </div>
      {% endif %}

      <h4>Listando {{ items | length }} filmes</h4>
      {% if indicados.values %}
        <h4>Indicados por você:</h4>
        {% for lst_msg in indicados.values %}
          {% for msg in lst_msg %}
            <i class="icon fa fa-check"></i>&nbsp;&nbsp;{{msg}}<br>
          {% endfor %}
        {% endfor %}
      {% endif %}

      {% for item in items %}
        <div class="col-lg-4">
          <div class="box">
            <div class="box-body" style="text-align:center">
              {% if item.ja_avaliou %}
                <i style="float: right; color:gold" class="fa fa-star" title="Filme já avaliado"></i>
              {% endif %}
              {% if item.data.url|is_youtube %}
                <iframe class="youtube_iframe" width="100%" src="{{ item.data.url | youtube }}" 
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 10px;">
                </iframe>
              {% elif item.data.url|is_vimeo %}
                <iframe src="{{ item.data.url | vimeo }}" 
                  class="youtube_iframe" width="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                </iframe>
              {% else %}
                <a href="{{ item.data.url }}" target="_blank">{{item.data.url}}</a>
              {% endif %}
            </div>
            <div class="box-footer" style="text-align:center">
                <div style="padding:5px">
                    <h4>{{item.data.titulo}}</h4>
                    <div>
                        Enviado por: 
                        {% if item.user.first_name %}
                          {{ item.user.first_name }}
                        {% else %}
                          {{ item.user.email }}
                        {% endif %}
                    </div>
                    <div style="height:40px">
                        <a href="{{ item.url }}">{{ item.url }}</a>
                    </div>
                </div>
                {% if request.session.painel.is_avaliador %}
                    <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 5px; margin-top: 5px;" data-toggle="modal" data-target="#avaliacao_{{item.id}}">
                      <i class="fa fa-star"></i>&nbsp;{% if item.ja_avaliou %} Alterar avaliação {% else %} Avaliar {% endif %}
                    </button>
                    {% include 'panel/avaliacoes/'|add:item.form.get_template with sub=item form=item.form step=step loop_index=item.id role_name=request.session.painel.role.1 avaliador=request.session.painel.name %}
                    <script>
                      atualiza_notas_mostra({{item.id}});
                    </script>
                {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    function resize_youtube(){
        $('.youtube_iframe').each(function(n, el){
            $(el).css('height', $(el).width() * .5625);
        });
    }

    $(document).ready(resize_youtube);
    $(window).resize(resize_youtube);
  </script>
{% endblock %}
